<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        /* Style the header */
        header {
            background-color:#000000;
            color: white;
            text-align: center;
            padding: 5px;

        }
        body{
            background-color:#D3D3D3;

        }
        h1{
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
